<main role="main" class="inner cover">
  <h1 class="cover-heading">A Little About Me</h1>
  <p class="lead">My name is Steven Tebbs and currently I am a student at bottega.tech. I am learning how to code in several languages so that I can become a fullstack developer. Please click on the link below to reach me.</p>
  <p class="lead">
    <%= link_to "Contact", contact_path, class: "btn btn-lg btn-secondary" %>
  </p>
 </main>