<h1>A Little About Me</h1>

<hr>

<div class="row">
	<div class="col-md-4">
		<%= image_tag "Owl.jpg", width: 300, alt: "Profile Image" %>
	</div>

	<div class="col-md-8">
		<p>My name is Steven Tebbs and currently I am a student at bottega.tech. I am learning how to code in several languages so that I can become a fullstack developer. Please click on the link below to reach me.</p>
	</div>
</div>