<div class="app-card-container">
  <div class="card">
    <h1>Would you like to work together?</h1>

    <hr>

    <div class="row">
      <div class="col-md-3">

        <h3>Phone</h3>

        <p><a href="tel:8014048212"><%= number_to_phone "8014048212" %></a></p>

        <h3>Email</h3>

        <p><a href="mailto:steven.tebbs@gmail.com?subject=PortfolioContact" "email me">Email me</a></p>
      </div>

      <div class="col-md-9">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3038.331080307729!2d-111.76947708478629!3d40.4015157644888!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x874d812dd657f351%3A0xa03ca6048af09942!2s1253+N+1190+E%2C+American+Fork%2C+UT+84003!5e0!3m2!1sen!2sus!4v1523401691870" width="450" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
      </div>
    </div>
  </div>
</div>