<div class="inner cover">
  <h1 class="cover-heading">Welcome to My Homepage</h1>
  <p class="lead">My name is Steven Tebbs and I have developed this website in order to help reach out to society. Click on of the following links below to learn more about me or my contact information.</p>
  <p class="lead">
    <%= link_to "About Me", about_me_path, class: "btn btn-lg btn-secondary" %>
  </p>
</div>